.jumbotron{
    background-color: darkgray;
    color: black;
    margin-top: 50px;
    
}
.btn{
   background-color: grey
    
}
footer{
    padding: 10px 10px 0 10px;
    background-color: darkgray;
    margin-bottom: 0px;
    margin-top: 10px;    
}
.card-almbum{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    margin-top: 15px;
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
