.jumbotron {
  background-color: #636363;
  color: black;
  @incluide margenes(50px, 0px);
}

.btn {
  background-color: #636363;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #000000;
  @incluide margenes(10px, 0px);
}

.card-almbum {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  @incluide margenes(10px, 0px);
}

.btn-comprar {
  width: 100%;
  border-radius: 0px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
