$Red:#636363;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-botton: $bottom;
}
.jumbotron{
    background-color: $Red;
    color: black;
    @incluide margenes(50px, 0px); 
}
.btn{
   background-color: $Red
    
}
footer{
    padding: 10px 10px 0 10px;
    background-color: #000000;
    @incluide margenes(10px, 0px);    
}
.card-almbum{
    flex: 1 200px;
    padding: 2px 5px 2px 5px;
    @incluide margenes(10px, 0px);
}

.btn-comprar{
    width: 100%;
    border-radius: 0px;
}

.footer-addres-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}